<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}- Evelators</title>
    </head>
    <body>
        <div class="container">{% block body %}{% endblock %}</div>
    </body>
</html>
