{# templates/lucky/report.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Day Simulation for building started:</h1>

    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Elevator Reports</th>
            </tr>
        </thead>
        <tbody>
        {% for hour, hourData in simulationData %}
            {% for min, minData in hourData %}
                <tr>
                    <td>{% if hour|length == 1 %}0{% endif %}{{ hour }}:{% if min|length == 1 %}0{% endif %}{{ min }}</td>
                    <td>
                        {% for elevator in minData %}
                            Elevator {{ elevator.id }}: Floor -> {{ elevator.currentFloor }} TraveledFloors
                            -> {{ elevator.traveledFloors }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
